#no-files-messages {
    text-align: center;
    align: center middle;
    padding: 2;
    color: #ffff00;
    background: #000000;
}

ActionButton {
    background: $boost;
    align: center middle;
    text-align: center;
}

.action-button {
    width:1fr;
    text-align: center;
}
