#no-files-messages {
    text-align: center;
    align: center middle;
    padding: 2;
    color: $warning;
    background: $surface;
}

ActionButton {
    background: $boost;
    align: center middle;
    text-align: center;
}

.action-button {
    width:  1fr;
    text-align: center;
}

#message-bar {
    padding: 0 1;
}

.messages {
    background: $surface;
}

#message-bar {
    background: $panel;
}
